*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    /* font-family: 'Baloo Paaji 2', cursive; */
    font-family: 'Roboto', sans-serif;
}

*,*::after,*::before{
    box-sizing: inherit;
}
.container{
    width: 90%;
    margin: 0 auto;
}
div{
    display: block;
}
img{
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}
h1,h2,h3,h4,h5{
    font-size: 100%;
}
a{
    text-decoration: none;
}
video{
    width: 100%;
}
.centro{
    text-align: center;
}
.margin_top_bottom{
    padding-top: 60px;
    padding-bottom: 60px;
}
.relative{
    position: relative;
}
.absolute{
  position: absolute;
}
.paralax{
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.title-bienvenido{
    color: #424242;
    font-weight: 1;
    font-size: 45px;
}
/*ESTILOS BOTON*/
.boton{
    display: inline-block;
    background-color: #cc282d;
    padding: 15px 30px;
    color:#ffffff;
    text-decoration: none;
    font-size: 20px;
    /* font-weight: bold; */
    margin-top: 45px;
    /*trasition para el hover boton*/
    transition: all .2s ease-in-out;
}
.boton:hover{
    transform: scale(1.1);
    background-color:rgba(245, 17, 17, 0.7);
}

/* .title-bienvenido::after{
    content: "____";
    color: red;
    padding-top: 20px;
    display: block;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
} */




/*estilos del navbar*/
.navbar{
    background-color:rgba(255, 253, 253, 0.9);
    padding: 28px;
}
.flex-navbar{
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.navigation{
    display: flex;
    justify-content: space-between;
}
.item{
    list-style: none;
    padding: 10px 40px;
}
.enlace{
    text-decoration: none;
    font-size: 20px;
    color: #424242;
    overflow: hidden;
    /*demora de hover*/
    transition: all .3s ease-in-out;
}
.enlace:hover{
    border-bottom: 2px solid orangered;
    padding-bottom: 6px;
    background-color: transparent;
    color:orangered;
}
.active{
    background-color: #cc282d;
    padding: 10px 30px;
    color: white;
}


/*ESTILOS FONDO HEADER*/
.fondo{
    background-image:linear-gradient(
        rgba(0,0,0,.3),
        rgba(0,0,0,.3)),
        url(../src/img/fondo1.jpg);
        width: 100%;
        height: 100vh;
}



/*ESTILOS MAIN */
/*bienvenidos*/
.flex-bienvenido{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mensaje{
    width: 555px;
    height: 350px;
    /* position: relative; */
}
.titleh2-bienvenido{
    margin-top: 60px;
   font-size: 25px;
   color: #424242;
   font-weight: 1;

}
.parraf-bienvenida{
    font-size: 18px;
    line-height: 1.5;
    color: #424242;
}

.video{
    width: 552px;
    height: 330px;
    /*para el mejor lugar*/
    position: relative;
}
.mejorlugar-video{
    background-color: rgba(0,0,0,.4);
    color: #ffffff;
    width: 276px;
    height: 310px;
    font-size: 45px;

    /*position*/
    position: absolute;
    top:0;
    right: 0;
}
.title-mejorlugar{
    margin-top: 90px;
}




/*SECTION ESTILOS SERVICIOS*/
.grid-servicios{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    grid-gap: 50px;
}

.servicios img{
    object-fit: cover;
    height: 380px;
}
.servicio-enlace{
    text-decoration: none;
}
.descrip-servicio{
    position: absolute;
    width: 100%;
    height: 120px;
    background-color: rgba(245, 17, 17, 0.5);
    /*position*/
    top:0;
    text-align: center;
}
/*rrellene  a cada uno 50px arriba*/
.title-servicio,.pf-servicio{
    padding-top: 10px;
    color: #ffffff;
  }
span{
      color: hsl(61, 84%, 53%);
      font-size: 20px;
      font-weight: bold;
}




/*ESTILOS SECTION FONDO-RESERVA-INFO*/
.fondo-reservas-info{
    background-image:linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.6)),
        url(../img/contacto.jpg);
    width: 100%;
    height: 50vh;
}
.info-flex{
    display: flex;
    flex-direction: column;
    margin-top: 25px;/*espacio afuera*/
    padding-top: 5%;/*espacio adentro y bajo 5%*/
}
.info-flex h5 , .parrafo-info{
  color: #ecf027;
}
.parrafo-info{
    font-size: 25px;
}
.info-flex p{
    margin-top: 40px;
    font-weight: bold;
}





/*SECION NUESTRAS HABITACIONES*/
.nuestras-habitaciones{
    background-color: rgba(0,0,0,.9);
    color: #ffffff;
}
.nuestras-habitaciones h3{
    padding: 30px 0;
    font-size: 40px;
    text-transform: uppercase;
    border-bottom: 1px solid red;
}
.flex-habitaciones{
    display: flex;
    justify-content: space-between;
}
.habitacion{
    width: 380px;
}
.habitacion img{
    height: 330px;
}
.habitacion h4{
    margin: 30px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    border-bottom: 1px solid #cc282d;
}
.habitacion .nav-habitacion li{
    list-style: none;
    margin-bottom: 10px;
}
.habitacion .sig-rojo{
    color: #cc282d;
    margin-right: 10px;
}
.habitacion .descrip-habita{
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
}
.habitacion a{
    margin-bottom: 28px;
}



/*ESTILOS TESTIMONIALES*/
.flex-testimoniales{
    display: flex;justify-content: space-evenly;
}

.title-testimonial{
    margin-top: 55px;
}
.testimonial{
    width: 453px;
    transition:all .3s ease-in-out;
    background-color: whitesmoke;
}
.testimonial:hover{
    transform:scale(1.1);
    -webkit-box-shadow: -3px 1px 60px 1px rgba(245,18,18,9);
    -moz-box-shadow: -3px 1px 60px 1px rgba(245, 17, 17, 0.8);
    box-shadow: -3px 1px 60px 1px rgba(245, 17, 17, 0.9);
}
.testimonial p{
    padding: 15px;
}
.testimonial img{
    width: 230px;
    height: 230px;
    border-radius: 100%;
}



/*ESTILOS FOOTER*/
.footer{
    background-color: rgba(0,0,0,.8);
}
.flex-footer{
    display: flex;
    justify-content: space-between;
}
.servicio{
    color: #ffffff;
}
.servicio h5{
    color: yellow;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.servicio .nav-servicio{
    display: block;
    list-style: none;
}
.servicio .nav-servicio .item-footer{
    margin-bottom: 10px;
}
.servicio .contacto{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.servicio .contacto img{
    width: 30px;
    height: 30px;
}
.servicio .contacto .direccion-contacto{
   color: #ffffff;
}
.servicio .contacto .direccion-contacto:hover{
    color: yellow;
}
.servicio .contacto p{
    margin-left: 10px;/*empuja de izquierda a derecja*/
}
.derechos-reservados{
    padding: 30px;
    background-color: rgba(245, 17, 17, 0.5);
}
.msj-derechos{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
  font-size: 25px;
  font-weight: 1;
}
/*FIN DE LA PAGINA PRINCIPAL*/





/*TIP PARA LA VIDA: EL ENLACE NO SIVER SI ESTA DENTRO DE UN DIV QUE CONTIENE POSITION:RELATIVE*/




/******************PAGINA RESERVACIONPHP Y HABITACIONRESERVA.PHP****************/
h1.title-reservacion {
    border-bottom: 2px solid #cc282d;
}

.flex-habitacion{
    display: flex;
    justify-content: space-evenly;
}
/*
.img-habitacion{
    margin: 0 auto;
     width:774px;
}*/
.img-habitacion img {
    width: 630px;
    height: 425px;
}

main.habitacion-huesped{
    margin-top: 55px;
}
 .form-habitacion{
    background-color: rgba(0,0,0,.8);
    width: 336px;
    height: 425px;
    margin-bottom: 100px;
    text-align: center
}
/* .form-reservacion{
    height: 445px;
} */
.flex-habitacion .pf-reservas{
    text-align: center;
    color: #f3e34f;
    border-bottom: 1px solid rgba(245, 17, 17, 0.6);
}

.precio{
    width: 276px;
    background-color: rgba(0,0,0,.4);
    color: #ffffff;
    margin:  0 auto;
    margin-top: 10%;
    margin-bottom: 50px;
}
.precio p{
    font-size: 25px;
}
.caja-h{
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
}
.form-reservacion .espacio-arriba{
   margin-top: 70px;
}

.caja-h label{
    color: white;
    margin-bottom: 10px;
}
.caja-h input{
    margin: 0 auto;
    width: 276px;
    height: 45px;
    text-align: center;
}
.btn{
    background-color: rgba(245, 17, 17, 0.7);
    border:none;
    color: white;
}
.btn:hover{
    cursor: pointer;
    background-color: rgba(245, 17, 17, 0.5);
}

.flex-descripcion{
    display: flex;
    justify-content: space-evenly;
}
.descripcion-habit, .descripcion{
    width: 450px;
    margin-top: 4%;
}
.descripcion-habit{
    margin-top: 7%;
}

/*el mensaje whatsap sera fixed */
.mesaje-reserva{
    position: absolute;
    top:30%;
    position: fixed;
    color: white;
    width: 240px;
    height: 160px;
    background-color: rgba(11, 189, 70, 0.815);
}
.mesaje-reserva img{
   width: 100px;
}


/******************************estilo costo RESERVACION.PHP**************************/
div .caja-precio{
    top:0;
    right: 0;
    background-color: rgba(0, 0, 0,.5);
    padding: 20px;
}
div .title-label{
    color:#ffffff;
    font-weight: bold;
}




/********************ESTILOS APLICARRESERVA.PHP*********************/
.flex-Aplicar-Reservacion{
   display: flex;
   justify-content: space-evenly;
}
.espacio-abajo{
    margin-bottom: 80px;
}
.margin-top{
    margin-top: 45px;
}
.tArea{
     width: 278px;
     height: 100px;
     background-color: #c83d42;
     border: 0;
     color: white;
     text-align: center;
 }
 .caja-h input{
    background-color: #c83d42;
    border: 0;
    color: white;
    text-align: center;
    font-size: 19px;
 }
 .caja-precio1{
     top: 0;
     left: 10;
     background-color: rgba(0, 0, 0,.5);
     padding: 20px;
 }
 .form-reservacion .espacio-arriba-reserva{
    margin-top: 40px;
 }
 .img-habitacion .anchoApliReserva{
     width: 100%;
 }






/********************ESTILOS PAGINA CONTACTO.HTML*************************/
.ubicacion-info .flex-contacto{
    display: flex;
    justify-content: space-evenly;
}
.mapa{
    width: 550px;
    height: 450px;
}


/*********************ESTILOS PARA LA PAGINA NOSOTROS.HTML******************/
.nosotros-info .flex-nosotros{
   display: flex;
   justify-content: space-evenly;
}
.flex-nosotros .img-hotel, .descripcion{
    width: 450px;
    height: 450px;
}







/*Medias querys para el diseño mobil firts*/
@media (max-width:682px){

    .container{
        width: 95%;
        margin: 0 auto;
    }
    .logo{
        display: none;
    }
    /*navigation*/
    .navigation{
        display: block;
    }
    .fondo{
     height: 30vh;
    }
    /*estilos bienvenidos*/
    .bienvenidos h1{
        margin-bottom: -25px;
    }
    .flex-bienvenido{
        flex-direction: column;
    }
    /*estilos bienvenidos div*/
    .mensaje,.video{
        width: 100%;
    }
    /*video*/
    .video{
        margin-top: 30px;
    }
    .mejorlugar-video{
        width: 162px;
        height: 182px;
    }
    .mejorlugar-video p{
        font-size: 20px;
    }


    /*estilos servicios*/
    .grid-servicios{
        grid-template-columns: repeat(1,1fr);
    }
    .servicios h2{
        margin-top: -80px;
        font-size: 30px;
        border-bottom: 1px solid red;
    }
    /*div con enlaces*/
    .servicios{
        width: 100%;
    }
    .servicios img{
        height: 330px;
    }

    

    /* INFO-RESERVAS */
    .fondo-reservas-info{
        height: 35vh;
    }
    .info-flex h5{
        font-size: 20px;
    }
    .info-flex p{
        font-size: 15px;
    }


    /*ESTILOS HABITACIONES*/
    .flex-habitaciones {
        flex-direction: column;
    }
    .habitacion{
        width: 100%;
        border-bottom: 2px solid orangered;
        margin-bottom: 20px;
    }
    .habitacion img{
        height: 330px;
    }
    .nav-habitacion .descrip-habita{
        font-size: 15.9px;
    }


    /*ESTILOS TESTIMONIALES*/
    .flex-testimoniales{
        flex-direction: column;
    }
    .testimoniales h4{
       font-size: 30px;
       border-bottom: 2px solid orangered;
    }
    .testimonial{
        width: 100%;
        margin-bottom: 30px;
    }


    /*ESTILOS FOOTER*/
    .footer{
        width: 100%;
    }
    .flex-footer{
       flex-direction: column;
    }
    .servicio h5{
        border-bottom: 1px solid yellow;
    }
    .servicio .logo-footer{
        width: 70px;
        height: 70px;
    }




   /***********ESTILOS HABITACIONRESERVA.PHP*****************+*/
   .flex-habitacion{
     flex-direction: column;
   }
   .flex-habitacion img{
       /* width: 100%; */
       width: 630px;
       height: 300px;
       margin-bottom: 30px;
   }
   .mesaje-reserva{
       display: none;
   }
   .flex-habitacion .form-habitacion{
      width: 343px;
   }



   /*********************ESTILOS RESERVCION.PHP*********************/
   .form-reservacion .espacio-arriba{
       margin-top: 50px;
   }
   .caja-precio{
       left: 0;
       width: 120px;
       text-align: center;
   }




   /********************ESTILOS APLICARRESERVA.PHP******************/
   .flex-Aplicar-Reservacion{
       flex-direction: column;
   }
    .margin-bottom{
       margin-bottom: 40px;
   }
   .caja-precio p{
       display: none;
   }
   .caja-precio1{
       right: 0;
   }
   .img-habitacion{
       margin-bottom: 45px;
   }
   .img-habitacion img{
      height: 300px;
   }
}



/**********************ESTILOS PARA EL SISTEMA DEL HOTEL**************************/



/*******************ESTILOS FOTOHABI.PHP*******************/

/*estilos para la clase foto*/
.foto{
  width:  30px;
  height: 30px;
  border-radius: 100%;
}

/*estilos PAGINADOR*/
.paginador{
    margin-top: 40px;
}
.nav-paginador{
    display:-webkit-flex;/*para chorme*/
    justify-content: center;
    padding: 10px;
    list-style: none;
}

.nav-paginador li a , .selected{
    display: inline-block;
    background-color: darkcyan;
    color: #ffffff;
    width: 35px;
    text-align: center;
    padding: 8px;
}
.nav-paginador li a:hover {
    background-color: rgb(10, 66, 66);
}

.selected{
    background-color: darkgoldenrod;
}
