.bedroom-tittle {
  text-align: center;
  color: white;
  font-size: 35px;
  font-weight: bolder;
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.8);
}


.bedroom-content {
  // background-color: #F6E894;
  color: black;
  display: grid;
  grid-template-columns: 20% 80%;
  height: 20em;
  max-height: 100%;

  //Nav content
  & .bedroom-nav {
    height: 20em;
    max-height: 100%;
    margin-left: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(26, 27, 26, 0.452);

    & * {
      height: 100%;
    }

    &::-webkit-scrollbar {
      width: 6px; //width from scrollbar
    }

    &::-webkit-scrollbar-track {
      background-color: black //background from scrollbar only
    }

    &::-webkit-scrollbar-thumb {
      background-color: orange; //background from scrollbar
    }

    & .navwrapper {
      // background-color: green;
      // margin-top: -1em; //(Bootstrap modified)
      margin-top: 0em; //To fit the nav inside of bedroom-nav

      & .bed-items {
        //Aligning nav items
        display: flex;
        flex-direction: column;
        // background-color: red;
        list-style: none; //Remove bullet point (viñeta)
        padding: 0px;

        & li {
          cursor: pointer;
          text-align: center;
          min-height: 10%; //Min height of every li element       

          & a {
            text-decoration: none;
            color: black;
          }
        }

        & .bed-item {
          text-align: center;
          font-weight: bolder;
          background-color: #cdcdcd;
          // border: 1px solid black;

          & a {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        & .bed-item:hover {
          transition: all .3s ease-in-out;
          background-color: #FEAD3B;
        }
      }
    }
  }

  & .content-info-array{
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 20em;
  }

  & .content-info {
    display: flex;
    flex-direction: row;
    
    //PHOTO CONTENT
    & .bedroom-photo {
      & img {
        height: 20em;
        width: 100%;
      }
    }
    //DESCRIPTION CONTENT
    & .bedroom-details {      
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #F6E894;
      text-align: center;
      width: 100%;
      height: 20em;
      line-height: 20px;
      & h2{
        margin: 12px 0px; //Top&&botton - left&&right
      }
      & p{
        margin: 0px 15px;
      }
      & .icons-info span{
          //aligning to center (img,span)          
          display:inline-flex;
          justify-content: center;
          align-items: center;
          margin: 8px;
          font-size: 24px;
          font-weight: bolder;
          & *{
            margin: 9px;
          }
      }
    }
  }
}

.active-item {
  background-color: #FEAD3B;
}

.hide-panel{
  visibility: hidden;
}

@media only screen and (max-width: 1024px) {
  .bedroom-details{
    width: 100% !important;
  }
}
