.bedroom-tittle {
  text-align: center;
  color: black;
  font-size: 35px;
  font-weight: bolder;
  background-color: #67757C;
}


.bedroom-content {
  // background-color: #F6E894;
  color: black;
  display: grid;
  grid-template-columns: 20% 80%;
  height: 20em;
  max-height: 100%;

  //Nav content
  & .bedroom-nav {
    height: 20em;
    max-height: 100%;
    margin-left: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(26, 27, 26, 0.452);

    & * {
      height: 100%;
    }

    &::-webkit-scrollbar {
      width: 6px; //width from scrollbar
    }

    &::-webkit-scrollbar-track {
      background-color: black //background from scrollbar only
    }

    &::-webkit-scrollbar-thumb {
      background-color: orange; //background from scrollbar
    }

    & .navwrapper {
      // background-color: green;
      margin-top: -1em; //To fit the nav inside of bedroom-nav

      & .bed-items {
        //Aligning nav items
        display: flex;
        flex-direction: column;
        // background-color: red;
        list-style: none; //Remove bullet point (viñeta)
        padding: 0px;

        & li {
          cursor: pointer;
          text-align: center;
          min-height: 10%; //Min height of every li element       

          & a {
            text-decoration: none;
            color: black;
          }
        }

        & .bed-item {
          text-align: center;
          font-weight: bolder;
          background-color: #cdcdcd;
          // border: 1px solid black;

          & a {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        & .bed-item:hover {
          transition: all .3s ease-in-out;
          background-color: #FEAD3B;
        }
      }
    }
  }

  & .content-info-array{
    display: flex;
    flex-direction: column;
  }

  & .content-info {
    display: flex;
    flex-direction: row;
    
    //PHOTO CONTENT
    & .bedroom-photo {
      & img {
        height: 20em;
        width: 100%;
      }
    }
    //DESCRIPTION CONTENT
    & .bedroom-details {
      background-color: #F6E894;
      text-align: center;
      width: 100%;
      height: 20em;
    }
  }
}

.active-item {
  background-color: #FEAD3B;
}

.hide-panel{
  visibility: hidden;
}