.services-tittle {
  text-align: center;
  font-size: 35px;
}
.servicios{
  & img{
    height: 380px; //Size of every element of grid
    width: 600px;
    border-radius: $radius;
  }
}

.descrip-servicio {
  height: 380px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $radius;
  position: absolute;
  text-align: center;
  font-size: 25px;
  color: transparent;
  font-weight: 700;
}

.darken--description {
  color: white;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.8);
}


.container--services {
  display: grid;
  align-items: center; //Center items horizontally and vertically
  justify-content: center;
  // 4 grid elements
  grid-template-columns: 600px 600px; //2 columns
  grid-template-rows: auto auto; //2 rows
  row-gap: 50px;
  column-gap: 50px;
  padding-bottom: 70px;

  & img {
    //To fill size of img according to grid element's size
    display: grid;
    justify-items: stretch;
    align-items: stretch;
  }
}