.grid-servicios {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 50px;
}
.services-tittle{
    text-align: center;
}
.servicios img {
    
    height: 380px;
}

.descrip-servicio {
    position: absolute;
    // height: auto;
    background-color: rgba(245, 17, 17, 0.5);
    /*position*/
    //top: 0;
    border-radius: $radius;
    text-align: center;
}

/*rrellene  a cada uno 50px arriba*/
.title-servicio,
.pf-servicio {    
    padding-top: 10px;
    color: #ffffff;
}

.container--services{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 600px 600px;
    grid-template-rows: auto auto;
    row-gap: 50px;
    column-gap: 50px;
    & *{ //To fill all content to size of grid element
      display: grid;
      justify-items: stretch;
      align-items: stretch;
    }
}
span {
    color: hsl(61, 84%, 53%);
    font-size: 20px;
    font-weight: bold;
}