/*------------------------------------*\
    $SITIO
\*------------------------------------*/


@-webkit-viewport {
	width : device-width;
}

@-moz-viewport {
	width : device-width;
}

@-ms-viewport {
	width : device-width;
}

@-o-viewport {
	width : device-width;
}

@viewport {
	width : device-width;
}

html {
	background : $background;
	font-size : 100%;
	-webkit-overflow-scrolling : touch;
	-webkit-tap-highlight-color : transparent;
	-webkit-text-size-adjust : 100%;
	-ms-text-size-adjust : 100%;
	
}

body {
	margin : 0;
	padding : 0;
	background-color : transparent;
	font-family : $basefont;
	line-height : $baselineheight;
	color : $textcolor;
	width : 100vw;
	height: 100vh;
}
main{
  background-color: #EFEFEF;
}
//todo:Scroll bar body
body::-webkit-scrollbar{
  width: 3px;
}
body::-webkit-scrollbar-track{
  background-color: transparent;
}
body::-webkit-scrollbar-thumb{
  background-color: #464646;
}


/**
* A partir de aquí es donde debes escribir los estilos de posicionamiento
* y detalles que forman tu web. Disfruta!
*/

